In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from wordcloud import WordCloud
from collections import Counter


df = pd.read_parquet("../data/raw/initial_data.parquet")

print(f"Total samples: {len(df)}")
print(f"Columns: {list(df.columns)}")
print("\nFirst 3 samples:")
display(df.head(3))

Total samples: 223461
Columns: ['text', 'label']

First 3 samples:

                                                text  label
0  видимо в разных регионах называют по разному ,...      0
1  понятно что это нарушение правил, писать капсл...      1
2                какие классные, жизненные стихи....      0

In [24]:
print(f"Total samples: {len(df)}")
print(f"Columns: {list(df.columns)}")
print("\nFirst 3 samples:")
display(df.head(3))

Total samples: 223461
Columns: ['text', 'label']

First 3 samples:

                                                text  label
0  видимо в разных регионах называют по разному ,...      0
1  понятно что это нарушение правил, писать капсл...      1
2                какие классные, жизненные стихи....      0

In [25]:
print(df.dtypes)

text     object
label     int64
dtype: object

In [26]:
print("=== Missing values per column ===")
print(df.isnull().sum())

=== Missing values per column ===
text     0
label    0
dtype: int64

In [27]:
processed_df = pd.read_parquet("../data/processed/reward_model_pairs.parquet")

print(f"Total samples: {len(processed_df)}")
print(f"Columns: {list(processed_df.columns)}")
print("\nFirst 3 samples:")
display(processed_df.head(3))
print(processed_df.dtypes)

Total samples: 40145
Columns: ['input_ids_chosen', 'attention_mask_chosen', 'input_ids_rejected', 'attention_mask_rejected']

First 3 samples:

,input_ids_chosen,attention_mask_chosen,input_ids_rejected,attention_mask_rejected
0,"[1, 391, 473, 332, 4907, 473, 3213, 295, 9804,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 352, 1038, 10626, 376, 332, 384, 2712, 449...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
1,"[1, 380, 30674, 1735, 2044, 1086, 406, 40752, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 7691, 473, 22724, 4407, 28871, 32976, 9730...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, ..."
2,"[1, 265, 22661, 16, 264, 332, 3177, 16, 776, 9...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 7691, 447, 36025, 16, 335, 23671, 938, 148...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ..."

input_ids_chosen           object
attention_mask_chosen      object
input_ids_rejected         object
attention_mask_rejected    object
dtype: object

In [39]:
# test proper tokenization, decode random sample from dataset

from transformers import AutoTokenizer

tokenizer = AutoTokenizer.from_pretrained("ai-forever/ru-en-RoSBERTa")  

r = np.random.randint(0, len(processed_df))
sample = processed_df.iloc[r]

print('TOXIC TEXT:')
print(tokenizer.decode(sample["input_ids_chosen"], skip_special_tokens=True))
print('-'*100)
print('NON-TOXIC TEXT:')
print(tokenizer.decode(sample["input_ids_rejected"], skip_special_tokens=True))

TOXIC TEXT:
пидарасы их давно пора на рудники как врагов россиян
----------------------------------------------------------------------------------------------------
NON-TOXIC TEXT:
есть зто я❤