In [1]:
!pip install  wordcloud

Collecting wordcloud
  Downloading wordcloud-1.9.4-cp313-cp313-macosx_11_0_arm64.whl.metadata (3.4 kB)
Requirement already satisfied: numpy>=1.6.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from wordcloud) (2.2.5)
Requirement already satisfied: pillow in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from wordcloud) (11.2.1)
Requirement already satisfied: matplotlib in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from wordcloud) (3.10.3)
Requirement already satisfied: contourpy>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from matplotlib->wordcloud) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from matplotlib->wordcloud) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from matplotlib->wordcloud) (4.58.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from matplotlib->wordcloud) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from matplotlib->wordcloud) (24.2)
Requirement already satisfied: pyparsing>=2.3.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from matplotlib->wordcloud) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from matplotlib->wordcloud) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from python-dateutil>=2.7->matplotlib->wordcloud) (1.17.0)
Downloading wordcloud-1.9.4-cp313-cp313-macosx_11_0_arm64.whl (167 kB)
Installing collected packages: wordcloud
Successfully installed wordcloud-1.9.4

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from wordcloud import WordCloud
from collections import Counter


df = pd.read_parquet("../data/raw/train-00000-of-00001.parquet")

print(f"Total samples: {len(df)}")
print(f"Columns: {list(df.columns)}")
print("\nFirst 3 samples:")
display(df.head(3))

Total samples: 223461
Columns: ['text', 'label']

First 3 samples:

                                                text  label
0  видимо в разных регионах называют по разному ,...      0
1  понятно что это нарушение правил, писать капсл...      1
2                какие классные, жизненные стихи....      0

In [2]:
print(f"Total samples: {len(df)}")
print(f"Columns: {list(df.columns)}")
print("\nFirst 3 samples:")
display(df.head(3))

Total samples: 223461
Columns: ['text', 'label']

First 3 samples:

                                                text  label
0  видимо в разных регионах называют по разному ,...      0
1  понятно что это нарушение правил, писать капсл...      1
2                какие классные, жизненные стихи....      0

In [3]:
print(df.dtypes)

text     object
label     int64
dtype: object

In [4]:
print("=== Missing values per column ===")
print(df.isnull().sum())

=== Missing values per column ===
text     0
label    0
dtype: int64

In [9]:
processed_df = pd.read_parquet("../data/processed/reward_pairs.parquet")

print(f"Total samples: {len(processed_df)}")
print(f"Columns: {list(processed_df.columns)}")
print("\nFirst 3 samples:")
display(processed_df.head(3))
print(processed_df.dtypes)

Total samples: 40145
Columns: ['input_ids_chosen', 'attention_mask_chosen', 'input_ids_rejected', 'attention_mask_rejected']

First 3 samples:

,input_ids_chosen,attention_mask_chosen,input_ids_rejected,attention_mask_rejected
0,"[101, 11060, 31108, 60613, 14407, 541, 10375, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[101, 10405, 12999, 10375, 10439, 10519, 12999...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
1,"[101, 10439, 10351, 12999, 551, 56680, 30043, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, ...","[101, 554, 10227, 559, 15275, 22122, 96195, 10...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
2,"[101, 10439, 10351, 12123, 99855, 10191, 117, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[101, 559, 44146, 10851, 117, 541, 10375, 4609...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."

input_ids_chosen           object
attention_mask_chosen      object
input_ids_rejected         object
attention_mask_rejected    object
dtype: object